<!-- dashboard.html -->
{% extends 'index.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1 class="">Dashboard</h1>


<div class="insights">
    <div class="sales">
        <span class="material-icons-sharp">analytics</span>
        <div class="middle">
            <div class="left">
                <h3>Total Sales</h3>
                <h1>$ {{oneday_analysis.total_sales}}</h1>
            </div>
        </div>
        <small class="text-muted">Recent 24 hrs</small>
    </div>
    <!-----------End Of Sales-------------------->
    <div class="orders">
        <span class="material-icons-sharp">bar_chart</span>
        <div class="middle">
            <div class="left">
                <h3>Total Orders</h3>
                <h1>{{oneday_analysis.total_meals_sold}}</h1>
            </div>
        </div>
        <small class="text-muted">Recent 24 hrs</small>
    </div>
    <!-----------End Of Orders-------------------->
    <div class="revenue">
        <span class="material-icons-sharp">stacked_line_chart</span>
        <div class="middle">
            <div class="left">
                <h3>Total Revenue</h3>
                <h1>$ {{oneday_analysis.total_revenue}}</h1>
            </div>
        </div>
        <small class="text-muted">Recent 24 hrs</small>
    </div>
    <!-----------End Of Revenue-------------------->
</div>
<!-----------------End Of Insights ----------------------->


<div class="recent-orders">
    <h2>Recent Orders</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Meal Group</th>
                <th>Meal</th>
                <th>Order Date</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Order Source</th>
                <th>Order Status</th>
            </tr>
        </thead>
        <tbody>
            {% for order in recent_orders%}
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.meal.meal_group}}</td>
                <td>{{order.meal.meal_name}}</td>
                <td>{{order.order_date}}</td>
                <td>{{order.quantity}}</td>
                <td>$ {{order.total_price}}</td>
                <td>{{order.order_source}}</td>
                {% if order.status == "Open"%}
                    <td><b class="text-warning">{{order.status}}</b></td>
                {% else %}
                    <td><b class="text-success">{{order.status}}</b></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% set page = 'dashboard' %}
