<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">
    <!-- Bootstrap style sheet -->
    <link rel="stylesheet" href="/style.css">
    <title>初光订单管理</title>
</head>
<body>
    <div class="container">
        <aside>
            <!-- top logo -->
            <div class="top">
                <div class="logo">
                    <img src="/img/logo.png" alt="logo">
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>

            <!-- side bar menu -->
            <div class="sidebar">
                <a href="#">
                    <span class="material-icons-sharp">dashboard</span>
                    <h3>仪表盘</h3>
                </a>
                <a href="#" class="active">
                    <span class="material-icons-sharp">group</span>
                    <h3>客户管理</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">receipt_long</span>
                    <h3>订单管理</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">feed</span>
                    <h3>表单管理</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">insights</span>
                    <h3>数据分析</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">logout</span>
                    <h3>账户登出</h3>
                </a>
            </div>
        </aside>
    </div>
</body>
</html>